.navbar {
    position: absolute;
    width: 60%;
    border-radius: 15px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
    transition: top 0.3s ease;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar.fixed {
    position: fixed;
    top: 0;
    width: 60%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(178, 173, 173, 0.822);
    font-size: 16px;
    transition: color 0.2s;
  }

  .nav-item:hover {
    color: gray;
  }

  .nav-icon {
    display: none;
  }

  .nav-text {
    display: inline;
  }


  @media (max-width: 768px) {
    .navbar {
      position: fixed;
      top: auto;
      bottom: 0;
      width: 100%;
      border-bottom: none;
      border-top: 1px solid #ddd;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
      height: 60px;
    }
  
    .nav-icon {
      display: block;
      font-size: large;
    }
  
    .nav-text {
      display: none;
    }
  }
  
  .container {
    padding-top: 60px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding-bottom: 60px;
    }
  }