.mypassworld-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfdfd;
    min-height: 100vh;
}

.MyPassWorld-maquette {
    padding: 5px;
    border-radius: 25px;
}