.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b0c10;
    min-height: 100vh;
}

#form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 20px 0 #000000;
    max-width: 800px;
    text-align: center;
}

#form-display {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

 .contact-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#firstName, #lastName {
    width: 386px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#prevent-message {
    font-style: italic;
    margin-top: 10px;
    max-width: 400px;
    color: gray;
}
.row-social-network {
    gap: 50px;
}

.card-social-network {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 0;
    margin-top: 25px;
    text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-social-network:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card-social-network a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    display: block;
    transition: color 0.3s;
}

.card-social-network img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    #firstName, #lastName {
        width: 161px;
    }

    #form-container {
        width: 350px;
    }    
}