  .main-container {
    height: 100vh;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 768px) {
    .main-container{
      background-image: url("../../assets//images//background-mobile.jpg");
    }
  }